OPENAI_API_KEY=<your-openai-api-key>
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_API_KEY=<your-langchain-api-key>
LANGCHAIN_PROJECT="ai-practice-ocaml"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
JWT_SECRET=<your-jwt-secret>
GOOGLE_CLIENT_ID=<your-google-client-id>

DB_USER=<your-db-user>
DB_PASSWORD=<your-db-password>
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ocaml_coding_practice
